.box1{
    background-color: rgb(154, 217, 253);
    height: 80px;
    right: 100%;
   
}

.box2{
    background-color: #fae881;
    height: 40px;
    right: 100%;
}

.B1{
    padding: 20px;
}

.soo{
background-color: rgb(207, 226, 241);
width: 60%;
height: 400px;
margin: 40px auto;
}